<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AtkSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="CairoSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GdkSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GioSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GLibSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="GtkSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="IoTSharp.Components.Raspbian" version="0.6.0" targetFramework="net472" />
  <package id="PangoSharp" version="3.22.25.74" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.6.0" targetFramework="net472" />
  <package id="Unosquare.Raspberry.Abstractions" version="0.4.0" targetFramework="net472" />
  <package id="Unosquare.Raspberry.IO" version="0.27.0" targetFramework="net472" />
  <package id="Unosquare.Swan" version="2.3.1" targetFramework="net472" />
  <package id="Unosquare.Swan.Lite" version="2.3.0" targetFramework="net472" />
  <package id="Unosquare.WiringPi" version="0.5.0" targetFramework="net472" />
</packages>